<div class="card-div">
    <div class="child-div">
        <div class="text">
            <div class="table-title">
                <span>Users Archive</span>
                <!-- <span class="export-btn"> -->
                    <button (click)="logOut()" style="float: right;">Log Out</button>&nbsp;
                    <!-- <button (click)="exportToExcel()">Export Data</button> -->
                <!-- </span> -->
            </div>
        </div>
        <div class="table-div" style="overflow-x: auto;">
            <table id="patients" mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
                <caption>{{noOfUsers}} USERS</caption>
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>
                        <span><i class="fa-solid fa-magnifying-glass"></i></span>&nbsp;
                        <input #name (keyup)="applyFilter(name.value)" type="text" placeholder="Search by Name">
                        <button class="button-design" mat-sort-header=""></button>
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>E-mail</th>
                    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
                </ng-container>

                <!-- Role Column -->
                <ng-container matColumnDef="role">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Role</th>
                    <td mat-cell *matCellDef="let element"><span
                            [ngStyle]="{'background' : element.role === 'LPN'? '#82E652': element.role === 'LVN' ? 'red': element.role ==='RN'? '#60E5DD': 'yellow'}"
                            class="role-text">{{ element.role }}</span></td>
                </ng-container>

                <!-- Visibility Column -->
                <ng-container matColumnDef="visibility">
                    <th mat-header-cell *matHeaderCellDef>Visibility</th>
                    <td mat-cell *matCellDef="let element">{{ element.visibility }}</td>
                </ng-container>

                <!-- Phone number Column -->
                <ng-container matColumnDef="phone-number">
                    <th mat-header-cell *matHeaderCellDef>
                        Phone Number
                    </th>
                    <td class="phone" mat-cell *matCellDef="let element">{{ element.Phone_Number}}</td>
                </ng-container>

                <!-- City Column -->
                <ng-container matColumnDef="city">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>City</th>
                    <td mat-cell *matCellDef="let element">{{ element.city }}</td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td style="color: blue;" mat-cell *matCellDef="let element">{{ element.Actions }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>
            </table>
        </div>
        <div class="paginator">
            <mat-paginator style="justify-content: left" [pageSizeOptions]="[10]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>