<!-- <div class="container">
    <div style="float: left; margin-top: 53px;">
        <button (click)="scrollLeft()">left</button>
    </div>
  
    <div #widgetsContent class="middle" style="border: 1px solid; margin-top: 53px;">
        <div class="status-card">
            <div class="profile">
              <img src="assets/image1.png" width="50px" alt="">
            </div>
            <p class="username">userName1</p>
        </div>

        <div class="status-card">
            <div class="profile">
              <img src="assets/image1.png" width="50px" alt="">
            </div>
            <p class="username">userName1</p>
        </div>

        <div class="status-card">
            <div class="profile">
              <img src="assets/image1.png" width="50px" alt="">
            </div>
            <p class="username">userName1</p>
        </div>

        <div class="status-card">
            <div class="profile">
              <img src="assets/image1.png" width="50px" alt="">
            </div>
            <p class="username">userName1</p>
        </div>

        <div class="status-card">
            <div class="profile">
              <img src="assets/image1.png" width="50px" alt="">
            </div>
            <p class="username">userName1</p>
        </div>

        <div class="info-widget">
        WIDGET
        </div>
        <div class="info-widget">
        WIDGET
        </div>
        <div class="info-widget">
        WIDGET
        </div>
        <div class="info-widget">
        WIDGET
        </div>
        <div class="info-widget">
        WIDGET
        </div>
    </div>
  
    <div style="float: right; margin-top: 53px;">
        <button (click)="scrollRight()">right</button>
    </div>
</div> -->
