
.info-widget {
    width: 31.75%;
    border: 1px solid black;
    display: inline-block;
  }

  .middle {
    float: left;
    width: 90%;
    overflow: hidden;
    /*will change this to hidden later to deny scolling to user*/
    white-space: nowrap;
  }

