<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit, quia doloribus accusantium dignissimos mollitia consequatur enim assumenda delectus sapiente? Id ullam, nisi molestias repudiandae eos libero at expedita unde odit iusto ipsam quae dicta quibusdam. Necessitatibus, facilis similique deserunt, odio facere dolorum aperiam sapiente, quidem autem saepe consequatur iure!</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit, quia doloribus accusantium dignissimos mollitia consequatur enim assumenda delectus sapiente? Id ullam, nisi molestias repudiandae eos libero at expedita unde odit iusto ipsam quae dicta quibusdam. Necessitatibus, facilis similique deserunt, odio facere dolorum aperiam sapiente, quidem autem saepe consequatur iure!</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit, quia doloribus accusantium dignissimos mollitia consequatur enim assumenda delectus sapiente? Id ullam, nisi molestias repudiandae eos libero at expedita unde odit iusto ipsam quae dicta quibusdam. Necessitatibus, facilis similique deserunt, odio facere dolorum aperiam sapiente, quidem autem saepe consequatur iure!</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit, quia doloribus accusantium dignissimos mollitia consequatur enim assumenda delectus sapiente? Id ullam, nisi molestias repudiandae eos libero at expedita unde odit iusto ipsam quae dicta quibusdam. Necessitatibus, facilis similique deserunt, odio facere dolorum aperiam sapiente, quidem autem saepe consequatur iure!</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            
        </div>
    </div>
</div>
