<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">About Component</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat esse dolorem hic, enim quidem dolore cupiditate cumque magnam dicta aperiam exercitationem possimus ab veritatis dolorum fuga nobis laudantium nemo excepturi minus. Veniam officia consequuntur eum explicabo, eius illo nihil perspiciatis tempore modi alias vero recusandae. Aliquid tempora sit eius obcaecati!
                        </p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">About Component</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quod? Impedit eum nihil, corporis voluptatum dolor quae tempore quidem, harum odit beatae veniam numquam quam excepturi assumenda perspiciatis itaque eligendi at ad! Voluptatum, labore voluptatem laborum quasi perferendis praesentium quia, minus eaque voluptates delectus ad. Iusto id ea minus omnis.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">About Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">About Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
