<!-- <div class="parent">
    <img src="assets/instaStory.png" width="80px" alt=""><br>&nbsp;&nbsp;
   
    <img src="assets/image1.png" width="8%" alt="">&nbsp;&nbsp;
    <img src="assets/image2.png" width="8%" alt="">&nbsp;&nbsp;
    <img src="assets/image3.png" width="8%" alt="">&nbsp;&nbsp;
    <img src="assets/image4.png" width="8%" alt="">&nbsp;&nbsp;
    <img src="assets/image5.png" width="8%" alt="">&nbsp;&nbsp;
    <img src="assets/image1.png" width="8%" alt="">&nbsp;&nbsp;
    <img src="assets/image2.png" width="8%" alt="">&nbsp;&nbsp;
    <img src="assets/image3.png" width="8%" alt="">&nbsp;&nbsp;
    <img src="assets/image4.png" width="8%" alt="">&nbsp;&nbsp;
    <img src="assets/image5.png" width="8%" alt="">&nbsp;&nbsp;
</div>
<br>

<div class="profile">
  <img src="assets/profileImage.png" width="55px" alt="">&nbsp;&nbsp;
  <div class="name">
  <span><b>Thundestrom</b></span><br>
  <span>Noida,India</span>
  </div>
</div>
<div class="main">
    <img src="assets/main.jpg" width="100%" height="100%" alt="">
</div> -->

