<form class="parent" [formGroup]="SignupGroup" #redirect>
    <div class="container">
      <h1><b>Sign Up</b></h1>
      <p>Please fill in this form to create an account.</p>
      <hr>

      <p>Required Field <small class="required"><b>*</b></small></p>
      <!-- FIRST NAME -->
      <label for="firstName"><b>First Name</b><small class="error m-1"><b>*</b></small></label>
      <input type="text" formControlName="firstName" placeholder="Enter First Name" name="firstName" required>
    
      <br>
      <!-- LAST NAME -->
      <label for="lastName"><b>Last Name</b></label>
      <input type="text" formControlName="lastName"  placeholder="Enter Last Name" name="lastName"> 
      <br>
      <!-- EMAIL -->
      <label for="email"><b>Email</b><small class="error m-1"><b>*</b></small></label>
      <input type="text" formControlName="email" placeholder="Enter the Email" name="email" required>
      <br>
      <!-- PASSWORD -->
      <label  class="mt-1" for="psw"><b>Password</b><small class="error m-1"><b>*</b></small></label>
      <small class="eyeIcon">
        <i class="fa-solid fa-eye" *ngIf="showPass" (click)="showPassword()"></i>
        <i class="fa-solid fa-eye-slash" *ngIf="!showPass" (click)="hidePassword()"></i>
      </small>
      <input type="password" class="password" formControlName="password" placeholder="Enter the Password" name="password">
     
      <br>
      <!-- REPEAT PASSWORD -->
      <label class="mt-1"  for="psw-repeat"><b>Repeat Password</b><small class="error m-1"><b>*</b></small></label>
      <small class="eyeIcon">
        <i class="fa-solid fa-eye" *ngIf="showRePass" (click)="showRePassword()"></i>
        <i class="fa-solid fa-eye-slash" *ngIf="!showRePass" (click)="hideRePassword()"></i>
      </small>
      <input type="password" class="password" formControlName="repassword" placeholder="Enter the same Password" name="psw-repeat">
      
      <br>

      <div class="clearfix">
        <button type="button" data-toggle="modal" data-target="#exampleModal" class="signupbtn" (click)="onSubmit()">Submit</button> <!-- [disabled]="SignupGroup.invalid" -->
      </div>
    </div>
</form>
