<!-- <div class="parent">
    <div>
        <span><b class="suggestion">Suggesstions For You</b></span><br>
        <img src="assets/image1.png" class="image1" alt="">
        <span style="padding-left: 15px;"><b>Nature Officials</b></span>
        <div style="margin-left: 70px;  width: 150px; position: relative; bottom: 35px; left: 25px;">Follows You</div> 
        <img src="assets/image2.png" class="image1" alt="">
        <span style="padding-left: 15px;"><b>Environment </b></span>
        <div style="margin-left: 70px;  width: 150px; position: relative; bottom: 35px; left: 25px;">Follows You</div> 
        <img src="assets/image3.png" class="image1" alt="">
        <span style="padding-left: 15px;"><b>Maldives Travel</b></span>
        <div style="margin-left: 70px;  width: 150px; position: relative; bottom: 35px; left: 25px;">Follows You</div> 
        <img src="assets/image4.png" class="image1" alt="">
        <span style="padding-left: 15px;"><b>Animals</b></span>
        <div style="margin-left: 70px;  width: 150px; position: relative; bottom: 35px; left: 25px;">Follows You</div> 
        <img src="assets/image5.png" class="image1" alt="">
        <span style="padding-left: 15px;"><b>Travel with me</b></span>
        <div style="margin-left: 70px;  width: 150px; position: relative; bottom: 35px; left: 25px;">Follows You</div> 
        <img src="assets/mi.png" class="image1" alt="">
        <span style="padding-left: 15px;"><b>Travel with me</b></span>
        <div style="margin-left: 70px;  width: 150px; position: relative; bottom: 35px; left: 25px;">Follows You</div> 
    </div>
  
    <div>
        <span><b class="seeAll">SeeAll</b></span>
        <div style="color: blue; margin-top: 70px;" ><b>Follow</b></div>
        <div style="color: blue; margin-top: 90px;" ><b>Follow</b></div>
        <div style="color: blue; margin-top: 90px;" ><b>Follow</b></div>
        <div style="color: blue; margin-top: 90px;" ><b>Follow</b></div>
        <div style="color: blue; margin-top: 90px;" ><b>Follow</b></div>
        <div style="color: blue; margin-top: 90px;" ><b>Follow</b></div>
    </div> 
</div> -->


