<div class="detail">
    <div class="name" style="display: inline-block;">
        <span style="font-size: 20px;"><b>Full Name</b></span>
        <p class="name1">{{pass.name}}</p>
    </div>
    <hr>
    <div class="name" style="display: inline-block;">
        <span style="font-size: 20px;"><b>Email</b></span>
        <p class="name2">{{pass.email}}</p>
    </div>
    <hr>

    <div class="name" style="display: inline-block;">
        <span style="font-size: 20px;"><b>Phone</b></span>
        <p class="name3">{{pass.phone}}</p>
    </div>
    <hr>

    <div class="name" style="display: inline-block;">
        <span style="font-size: 20px;"><b>Mobile</b></span>
        <p class="name4">{{pass.mobile}}</p>
    </div>
    <hr>

    <div class="name" style="display: inline-block;">
        <span style="font-size: 20px;"><b>Address</b></span>
        <p class="name5">{{pass.address}}</p>
    </div>
</div>

