<section>
    <div class="parent">
        <div class="child">
            <div class="left-col">
                <div class="left-wrapper">
                    <div class="wrapper-card">
                    <img src="https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png" class="twitterHome" alt="">
                    <img src="assets/twitter.jpg" class="twitterImage" alt="">
                    </div>
                </div>
            </div>

            <div class="right-col">
                <div class="right-wrapper">
                    <div class="card-wrapper">
                        <img src="assets/bird.png" class="bird"  alt="">
                    </div>
                </div>
                <h1 class="happening"><b>Happening now</b></h1><br><br>
                <h1><b>Join Twitter Today</b></h1>
                <div class="card-body" style="flex: 0; padding-left: initial;">
                    <div class="btn btn-light signin"> <img src="assets/google.png" width="25px" height="25px" alt=""  >&nbsp;&nbsp;<b>Sign in with Google</b></div>
                </div>

                <div class="card-body" style="flex: 0; padding-left: initial;">
                    <div class="btn btn-light signin"> <img src="assets/apple.png" width="25px" height="28px" alt=""> &nbsp;&nbsp;<b>Sign in with Apple</b></div>
                </div>

                <div>
                    <h5 class="horizontal">OR</h5>
                </div>

                <div class="card-body" style="flex: 0; padding-left: initial;">
                    <div class="btn btn-primary signup"><i class="fa-brands fa-facebook-square">&nbsp;&nbsp;</i> Sign up with phone or email  </div>
                </div>
                <p class="paragraph">By signing up, you agree to the Terms of Service and Privacy <br>  Policy, including Cookie Use.</p>

                <h4 class="accountCheck">Already have an Account?</h4>

                <div class="card-body" style="flex: 0; padding-left: initial;">
                    <div class="btn btn-light signin" style="color:#1A8CD8;" (click)="openDialog()"> <b>Sign in</b></div>
                </div>
            </div>
        </div>
    </div>
</section>
