<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Services Component</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod incidunt praesentium sapiente esse debitis ut iusto ea omnis dolores laudantium accusantium neque commodi, modi dignissimos. Est ipsum quasi eum inventore doloribus maiores quidem explicabo enim dolores illo architecto, id molestias nobis repudiandae quo, obcaecati laborum laboriosam molestiae et excepturi atque.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Services Component</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod incidunt praesentium sapiente esse debitis ut iusto ea omnis dolores laudantium accusantium neque commodi, modi dignissimos. Est ipsum quasi eum inventore doloribus maiores quidem explicabo enim dolores illo architecto, id molestias nobis repudiandae quo, obcaecati laborum laboriosam molestiae et excepturi atque.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Services Component</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod incidunt praesentium sapiente esse debitis ut iusto ea omnis dolores laudantium accusantium neque commodi, modi dignissimos. Est ipsum quasi eum inventore doloribus maiores quidem explicabo enim dolores illo architecto, id molestias nobis repudiandae quo, obcaecati laborum laboriosam molestiae et excepturi atque.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Services Component</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod incidunt praesentium sapiente esse debitis ut iusto ea omnis dolores laudantium accusantium neque commodi, modi dignissimos. Est ipsum quasi eum inventore doloribus maiores quidem explicabo enim dolores illo architecto, id molestias nobis repudiandae quo, obcaecati laborum laboriosam molestiae et excepturi atque.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Services Component</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod incidunt praesentium sapiente esse debitis ut iusto ea omnis dolores laudantium accusantium neque commodi, modi dignissimos. Est ipsum quasi eum inventore doloribus maiores quidem explicabo enim dolores illo architecto, id molestias nobis repudiandae quo, obcaecati laborum laboriosam molestiae et excepturi atque.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
