<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"></label>
  <input type="email" class="form-control-sm" id="filter" placeholder="write class9 value " [(ngModel)]="class9Search">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"></label>
  <input type="email" class="form-control-sm" id="filter1" placeholder="write class10 value" [(ngModel)]="class10Search">
</div>

<table class="table caption-top">

  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Class 9</th>
      <th scope="col">Class 10</th>
      <th scope="col">Class 11</th>
      <th scope="col">Class 12</th>
    </tr>
  </thead>
  <tbody class="style">
    <tr *ngFor="let subject of subjectArr | filter:class9Search | filter:class10Search">
      <th scope="row">{{subject.sno}}</th>
      <td>{{subject.class9}}</td>
      <td>{{subject.class10}}</td>
      <td>{{subject.class11}}</td>
      <td>{{subject.class12}}</td>
    </tr>
  </tbody>
</table>