<body>
<div class="contact">
    <div style="display:inline-block">
    <img class="website" src="assets/website-icon.png" alt=""><b class="para">Website</b>
    <p class="para" id="text-move1">http://bootdey.com</p>
    </div>
    <hr>

    <div style="display: inline-block;">
        <img class="github" src="assets/git.png" alt=""><b class="para">Github</b>
        <span class="para" id="text-move2">bootdey</span>
    </div>
    <hr>

    <div style="display: inline-block;">
        <img class="twitter" src="assets/twitter.png" alt=""><b class="para">Twitter</b>
        <span class="para" id="text-move3">@bootdey</span>
    </div>
    <hr>

    <div style="display: inline-block;">
        <img class="instagram" src="assets/instagram.png" alt=""><b class="para">Instagram</b>
        <span class="para" id="text-move4">bootdey</span>
    </div>
    <hr>

    <div style="display: inline-block;">
        <img class="facebook" src="assets/facebook.png" alt=""><b class="para">Facebook</b>
        <span class="para" id="text-move5">bootdey</span>
    </div>
</div>
</body>