<section>
    <div class="main">
        <div class="wrapper">
          <div class="left-col">
              <div #widgetsContent class="status-wrapper">
              
                <div style="float: left">
                    <img src="assets/leftarrow.png" width="30px" height="30px" class="scroolLeft" (click)="scrollLeft()" alt="">
                </div>

                <div >
                    <img src="assets/rightarrow.png" width="30px" height="30px" class="scroolRight" (click)="scrollRight()" alt="">
                </div>
                
                  <div class="status-card">
                    <div class="profile">
                      <img src="assets/image1.png" width="50px" alt="">
                    </div>
                    <p class="username">userName1</p>
                  </div>
  
                  <div class="status-card">
                    <div class="profile">
                      <img src="assets/image2.png" width="50px"  alt="">
                    </div>
                    <p class="username">userName2</p>
                  </div>
  
                  <div class="status-card">
                    <div class="profile">
                      <img src="assets/image2.png" width="50px"  alt="">
                    </div>
                    <p class="username">userName3</p>
                  </div>
  
                  <div class="status-card">
                    <div class="profile">
                      <img src="assets/image3.png" width="50px"  alt="">
                    </div>
                    <p class="username">userName4</p>
                  </div>
                  
                  <div class="status-card">
                    <div class="profile">
                      <img src="assets/image4.png" width="50px" style="z-index: 1;"  alt="">
                      
                    </div>
                    <p class="username">userName5</p>
                  </div>

                  <div class="status-card">
                    <div class="profile">
                      <img src="assets/image5.png" width="50px"  alt="">
                      
                    </div>
                    <p class="username">userName6</p>
                  </div>
                  
                  <div class="status-card">
                    <div class="profile">
                      <img src="assets/image1.png" width="50px"  alt="">
                    </div>
                    <p class="username">userName7</p>
                  </div>
                  
                  <div class="status-card">
                    <div class="profile">
                      <img src="assets/image2.png" width="50px"  alt="">
                    </div>
                    <p class="username">userName8</p>
                  </div>
  
                  <div class="status-card">
                    <div class="profile">
                      <img src="assets/image3.png" width="50px"  alt="">
                    </div>
                    <p class="username">userName9</p>
                  </div>
  
                  <div class="status-card">
                    <div class="profile">
                      <img src="assets/image4.png" width="50px"  alt="">
                    </div>
                    <p class="username">userName10</p>
                  </div>
                  
              </div>
            
              <div class="post">
                <div class="info">
                  <div class="user">
                    <div class="profile">
                      <img src="assets/profileImage.png" alt="">
                    </div>
                    <p class="username">Thunderstorm</p>
                  </div>
                  <img src="" alt="">
                </div>
                <img src="assets/main.jpg" class="post-image" alt="">
                <div class="post-content">
                  <div class="reaction-wrapper">
                    <i class="bi bi-heart fa-2x"></i>
                    <i class="bi bi-chat fa-2x"></i>
                    <i class="bi bi-send fa-2x"></i>
                    <span class="save">
                    <i class="bi bi-save fa-2x"></i>
                    </span>
                  </div>
                  <p class="likes">1,000 likes</p>
                  <p class="description">
                  <span>Thunderstorm</span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi exercitationem ipsa fugiat debitis delectus eum?
                  </p>
  
                  <p class="post-time">5 minutes ago</p>
                </div>
              </div>
  
              <div class="post">
                <div class="info">
                  <div class="user">
                    <div class="profile">
                      <img src="assets/profileImage.png" alt="">
                    </div>
                    <p class="username">Waterfall</p>
                  </div>
                  <img src="" alt="">
                </div>
                <img src="assets/waterfall.jpg" class="post-image" alt="">
                <div class="post-content">
                  <div class="reaction-wrapper">
                    <i class="bi bi-heart fa-2x"></i>
                    <i class="bi bi-chat fa-2x"></i>
                    <i class="bi bi-send fa-2x"></i>
                    <span class="save">
                    <i class="bi bi-save fa-2x"></i>
                    </span>
                  </div>
                  <p class="likes">1,000 likes</p>
                  <p class="description">
                  <span>Waterfall</span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi exercitationem ipsa fugiat debitis delectus eum?
                  </p>
  
                  <p class="post-time">5 minutes ago</p>
                </div>
              </div>
          </div>
  
          <div class="right-col">
            <div class="profile-card">
              <div class="profile-pic">
                <img src="assets/image1.png" width="70px" alt="">
              </div>
  
              <div>
                <p class="username"> Mountains Views</p>
                <p class="sub-text">Priyanshu Raj</p>
              </div>
              <button class="action-btn">Switch</button>
            </div>
  
            <p class="suggetions">Suggestions for you</p>
  
            <div class="profile-card">
              <div class="profile-pic">
                <img src="assets/image2.png" width="70px" alt="">
              </div>
  
              <div>
                <p class="username"> Mountains Views</p>
                <p class="sub-text">followed by user</p>
              </div>
              <button class="action-btn">Follow</button>
            </div>
  
            <div class="profile-card">
              <div class="profile-pic">
                <img src="assets/image3.png" width="70px" alt="">
              </div>
  
              <div>
                <p class="username"> Mountains Views</p>
                <p class="sub-text">followed by user</p>
              </div>
              <button class="action-btn">Follow</button>
            </div>
  
            <div class="profile-card">
              <div class="profile-pic">
                <img src="assets/image4.png" width="70px" alt="">
              </div>
  
              <div>
                <p class="username"> Mountains Views</p>
                <p class="sub-text">followed by user</p>
              </div>
              <button class="action-btn">Follow</button>
            </div>
  
            <div class="profile-card">
              <div class="profile-pic">
                <img src="assets/image5.png" width="70px" alt="">
              </div>
  
              <div>
                <p class="username"> Mountains Views</p>
                <p class="sub-text">followed by user</p>
              </div>
              <button class="action-btn">Follow</button>
            </div>
  
            <div class="profile-card">
              <div class="profile-pic">
                <img src="assets/image1.png" width="70px" alt="">
              </div>
  
              <div>
                <p class="username"> Mountains Views</p>
                <p class="sub-text">followed by user</p>
              </div>
              <button class="action-btn">Follow</button>
            </div>
  
            <div class="profile-card">
              <div class="profile-pic">
                <img src="assets/image5.png" width="70px" alt="">
              </div>
  
              <div>
                <p class="username"> Mountains Views</p>
                <p class="sub-text">followed by user</p>
              </div>
              <button class="action-btn">Follow</button>
            </div>
          </div>
            
        </div>
    </div>
  </section>
