<div class="parent-div">
  <div class="child-div">
    <div class="child-div1">
      <div class="img-div">
        <img src="assets/heart.jpg" alt="heart_image" class="responsive" />
        <div class="text-div">
          <p>Health Care</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="center">
  <form [formGroup]="login" (ngSubmit)="onSubmit()">
    <div class="txt_field">
      <div *ngIf="email?.touched && email?.invalid">
        <span class="error-msg" *ngIf="email?.errors?.['required']">Please inform your email</span>
        <span class="error-msg" *ngIf="email?.errors?.['pattern']">Please inform your valid email address</span>
      </div>
      <input type="text" required formControlName="email" />
      <label>Email</label>
    </div>
    <div class="txt_field">
      <div *ngIf="password?.touched && password?.invalid">
        <span class="error-msg" *ngIf="password?.errors?.['required']">Please inform your password</span>
        <span class="error-msg" *ngIf="password?.errors?.['pattern']">Please inform your valid password</span>
      </div>
      <input type="password" required formControlName="password" />
      <label>Password</label>
    </div>
    <div class="pass">
      <span><input type="checkbox" formControlName="check" />Remember Me
        <a class="forget" routerLink="../forget-password">Forgot Password?</a>
      </span>
    </div>
    <input [disabled]="login.invalid" type="submit" class="btn btn-dark w-100" value="Login" />
    <div class="signup_link"><a routerLink="../sign-up">Create Account</a></div>
  </form>
</div>

