<body>
    <div class="container">
        <div class="header">
            <li a href="#home">Home</li>
            <li a href="#user">User</li>
            <li a href="#userprofile">User Profile</li>
        </div>

        <div class="dashboard">
            <img class="profile" src="assets/icon.png" alt="" >
            <h1><b>John Doe</b></h1>
            <p>Full Stack Developer</p>
            <p>Bay Area, San Franciso, CA</p>
            <button class="btn1">Follow</button>
            <button class="btn2">Message</button>
        </div>

        <div class="contact">
            <div style="display:inline-block">
            <img class="website" src="assets/website-icon.png" alt=""><b class="para">Website</b>
            <p class="para" id="text-move1">http://bootdey.com</p>
            </div>
            <hr>

            <div style="display: inline-block;">
                <img class="github" src="assets/git.png" alt=""><b class="para">Github</b>
                <span class="para" id="text-move2">bootdey</span>
            </div>
            <hr>

            <div style="display: inline-block;">
                <img class="twitter" src="assets/twitter.png" alt=""><b class="para">Twitter</b>
                <span class="para" id="text-move3">@bootdey</span>
            </div>
            <hr>

            <div style="display: inline-block;">
                <img class="instagram" src="assets/instagram.png" alt=""><b class="para">Instagram</b>
                <span class="para" id="text-move4">bootdey</span>
            </div>
            <hr>

            <div style="display: inline-block;">
                <img class="facebook" src="assets/facebook.png" alt=""><b class="para">Facebook</b>
                <span class="para" id="text-move5">bootdey</span>
            </div>
        
            <div class="detail">
                <div class="name" style="display: inline-block;">
                    <span style="font-size: 20px;"><b>Full Name</b></span>
                    <p class="name1">Kenneth Valdez</p>
                </div>
                <hr>
                <div class="name" style="display: inline-block;">
                    <span style="font-size: 20px;"><b>Email</b></span>
                    <p class="name2">fip@jukmuh.al</p>
                </div>
                <hr>

                <div class="name" style="display: inline-block;">
                    <span style="font-size: 20px;"><b>Phone</b></span>
                    <p class="name3">(239) 816-9027</p>
                </div>
                <hr>

                <div class="name" style="display: inline-block;">
                    <span style="font-size: 20px;"><b>Mobile</b></span>
                    <p class="name4">(320) 380-4539</p>
                </div>
                <hr>

                <div class="name" style="display: inline-block;">
                    <span style="font-size: 20px;"><b>Address</b></span>
                    <p class="name5">Bay Area, San Franciso, CA</p>
                </div>
            </div>
            
        </div>

        <div class="Project Status1">
            <div>
               
            </div>
        </div>
    </div>
</body>

