<body>
<div class="project1">
    <div style="font-size: 20px;">
       <span style="color: #18A2BA;">assignment </span>  <b>Project Status</b>
    </div>

    <br>
    <div class="container">Web design</div>
    <div class="container1">
        <div class="progress1"></div>
    </div>
    <br>
    
    <div class="container">Website Markup</div>
    <div class="container1">
    <div class="progress2"></div>
    </div>
    <br>

    <div class="container">One Page</div>
    <div class="container1">
    <div class="progress3"></div>
    </div>
    <br>

    <div class="container">Mobile Template</div>
    <div class="container1">
    <div class="progress4"></div>
    </div>
    <br>

    <div class="container">Backend API</div>
    <div class="container1">
    <div class="progress5"></div>
    </div>
</div>
</body>