<mat-drawer-container>
<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-2" style="border: 1px solid;">
            <app-side-navbar [showMenu]="isClicked" ></app-side-navbar>
        </div>
    
        <div class="col-md-10" style="border: 1px solid; height: 100vh;">
            <app-header (toggleSideNavbar)="closeMenu($event)"></app-header>
            <div class="col-md-12">
                <div class="row-md-12" style="border: 1px solid; height: 93vh;">
                    <app-dashboard></app-dashboard>
                </div>
            </div> 
        </div>
    </div>

</div>
</mat-drawer-container>




