
.container{
    width: 50%;
    position: relative;
    top: 20vh;
}

.error{
    color: darkred;
}

.icon{
    float: right;
}

.eyeIcon{
    float: right;
    position: relative;
    top: 30px;
    right: 10px;
  }

  .spinner{
      margin-left: 43%;
  }