
.container-fluid{
    // background-color: green;
    // border: 1px solid red;
    display: flex;
    padding: 10px;
}

.thumbnails{
    // border: 1px solid blue;
    height: fit-content;
    // display:flex;
    margin-left: 241px;
}
