<nav class="navbar">
    <div class="nav-wrapper">
        <div class="left-row">
            <span class="header-user">Home</span>/
            <span class="header-dashboard">Dashboard</span>
        </div>
    </div>
</nav>       
<!-- top Items -->
    <div class="conatainer-lg">
        <div class="row">
            <div class="col-md-3">
              <!-- <div class="row"> -->
                <!-- <div class="col-6"> -->
                  <div class="card" style="width: 18rem; height: 12rem;" >
                    <div class="card-body" style="background-color: #321FDB;" >
                      <h1 class="card-title" style="color:white">26K(-12.4)</h1>
                      <span style="color: white; font-size:20px" >Users</span>
                    </div>
                </div>
                <!-- </div> -->

                <!-- <div class="col-6" style="border: 1px solid;" >
                  <div>

                  </div>
                </div>
              </div> -->
                
                  
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem; height: 12rem;">
                    <div class="card-body" style="background-color: #3399FF;">
                        <h1 class="card-title" style="color:white">$6.200(40.9%)</h1>
                        <span style="color: white; font-size:20px" >Users</span>
                    </div>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem; height: 12rem;">
                    <div class="card-body" style="background-color: #F9B115;">
                      <h1 class="card-title" style="color:white">2.49%(84.7%)</h1>
                      <span style="color: white; font-size:20px" >Users</span>
                    </div>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem; height: 12rem;">
                    <div class="card-body" style="background-color: #E55353;">
                      <h1 class="card-title" style="color:white">44K(-23.6%)</h1>
                      <span style="color: white; font-size:20px" >Users</span>
                    </div>
                </div>
            </div>
        </div>
<!-- middle Items -->
        <div class="row">
          <div class="col">
            <div class="card" style="max-width: 90rem; height: 30rem;">
              <div class="card-body">
                <h1 class="card-title" style="color:white">44K(-23.6%)</h1>
                <span style="color: white; font-size:20px">Users</span>
              </div>
          </div>
          </div>
        </div>

<!-- Social Media Items -->
        <div class="row">
<!-- first column -->
          <div class="col-md-4">
            <div class="card-mb-4" style="width: 25rem; height: 12rem;" >
              <div style="display: flex; justify-content:center; align-items: center; height: 13vh; background-color: #3B5998;">
                <div>
                    <mat-icon class="facebook-icon">facebook</mat-icon>
                </div>
              </div>
              <div class="card-body" style="background-color: white; flex: 1 1 auto;">
              <div class="row">
                <div class="col-md-6">
                    <div class="follower">89K</div>
                    <div class="friends">FRIENDS</div>
                </div>
                <div class="col-md-6">
                  <div class="follower">459</div>
                   <div class="friends">FEEDS</div>
                </div>
              </div>
              </div>
            </div>
          </div>
         
  <!-- Second Column -->
  <div class="col-md-4">
    <div class="card-mb-4" style="width: 25rem; height: 12rem;" >
      <div style="display: flex; justify-content:center; align-items: center;  height: 13vh; background-color: #00ACED;">
        <div>
            <!-- <mat-icon class="facebook-icon" >facebook</mat-icon> -->
            <img src="assets/jpg-images/twitter.jpg" width="50px" height="50px" alt="">
        </div>
      </div>
      <div class="card-body" style="background-color: white; flex: 1 1 auto;">
      <div class="row">
        <div class="col-md-6">
            <div class="follower">89K</div>
            <div class="friends">FRIENDS</div>
        </div>
        <div class="col-md-6">
          <div class="follower">459</div>
           <div class="friends">FEEDS</div>
        </div>
      </div>
      </div>
    </div>
  </div>

    <!-- Third Column -->

    <div class="col-md-4">
      <div class="card-mb-4" style="width: 25rem; height: 12rem;" >
        <div style="display: flex; justify-content:center; align-items: center;  height: 13vh; background-color: #4875B4;">
          <div>
              <!-- <mat-icon class="facebook-icon">facebook</mat-icon> -->
              <img src="assets/png-images/linkedin.png" width="50px" height="50px" alt="">
          </div>
        </div>
        <div class="card-body" style=" background-color: white; flex: 1 1 auto;">
        <div class="row">
          <div class="col-md-6">
              <div class="follower">89K</div>
              <div class="friends">FRIENDS</div>
          </div>
          <div class="col-md-6">
            <div class="follower">459</div>
             <div class="friends">FEEDS</div>
          </div>
        </div>
        </div>
      </div>
    </div>

    </div>

