

ul {
    border: 1px solid black;
    height: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F8F8F8;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #7D7F84;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
  li a:hover {
    background-color: #E7E7E7;
  }