
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 col-xs-6 heartIcon">
      <i class="bi bi-suit-heart-fill fa-2 heartIcon"></i>
    </div>
    <!-- <div class="col-sm-2 hospitalName">
      <h1><b style="font-size: 24px;">St. Marry Hospital</b></h1>
    </div> -->
    <!-- <div class="col-1 parent-search">
      <i class="bi bi-search search"></i>
    </div> -->
    <!-- <div class="col-2 parent-input">
      <input type="text" placeholder="">
    </div> -->
    <!-- <div class="col-sm-3 parent-button">
      <button type="button" class="btn btn-primary">New Patient</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-primary">New Task</button>
    </div> -->
    <div class="col-sm-9 parent-bell">
      <i class="bi bi-bell-fill bell"></i>
    </div>
    <div class="col-sm-1 parent-profile">
      <img src="assets/userprofile.svg" width="40px" alt="">
      
    <div class="col-sm-1 col-xs-6"><b style="margin-left: 20px; font-size: 15px;">{{userName}}</b></div>  
      
    </div>
  </div>
</div>
