<nav class="navbar">
    <div class="nav-wrapper">
      <img src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png" class="brand-img" alt="">
      <input type="text" class="search-box" placeholder="search">
      <div class="nav-item">
        <i class="fa-solid fa-house fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="bi bi-chat fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="bi bi-bell fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="bi bi-heart fa-2x"></i>
      </div>
    </div>
</nav>

