<div class="information">
    <span class="info"><b id="base">Basic Information</b></span>
    
    <div class="basic">
        <div class="row">
        <label>Email <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label >Password <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label >Retype Password <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label >First Name <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label >Last Name <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label >Phone Number <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label >Address <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label >City <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label>Province <span style="display: inline-block; color: red;" >*</span></label>
        <select name="Province" id="Province">
            
            <option value="Alberta" selected>Alberta</option>
            <option value="spain">spain</option>
        
        </select>
        </div>
        <br>
        <div class="row">
        <label >Country <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
    </div>
</div>


<div class="information">
    <span class="info"><b id="base">Basic Information</b></span>
    
    <div class="basic">
        <div class="row">
        <label>Email <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label >Password <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label >Retype Password <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label >First Name <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label >Last Name <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label >Phone Number <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label >Address <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label >City <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
        <div class="row">
        <label>Province <span style="display: inline-block; color: red;" >*</span></label>
        <select name="Province" id="Province">
            
            <option value="Alberta" selected>Alberta</option>
            <option value="spain">spain</option>
        
        </select>
        </div>
        <br>
        <div class="row">
        <label >Country <span style="display: inline-block; color: red;" >*</span></label>
        <input type="text">
        </div>
        <br>
    </div>
</div>
