
<form [formGroup]="signupForm">
<div class="parent">
    <div class="card">
        <img class="instaImg" src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png" width="50%" alt="">
        <div class="card-body" style="flex: 0;">
          <p class="card-text" style="color: gray;"><b>Signup to see photos and videos</b><br><b>from your friends</b> </p>
        </div>
        <div class="card-body" style="flex: 0;">
            <div class="btn btn-primary"><i class="fa-brands fa-facebook-square">&nbsp;&nbsp;</i> <span (click)="onFacebook()">Log in with Facebook</span>  </div>
        </div>
        <div>
        <h5 class="horizontal">OR</h5>
        </div>
        <div class="input-group mb-3 pe-4 ps-4">
            <input type="text" class="form-control" placeholder="Mobile Number or Email" formControlName="email" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3 pe-4 ps-4">
            <input type="text" class="form-control" placeholder="Full Name" aria-label="Username" formControlName="fullname"  aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3 pe-4 ps-4">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" formControlName="username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3 pe-4 ps-4">
            <input type="password" class="form-control" placeholder="Password" aria-label="Username" formControlName="password" aria-describedby="basic-addon1">
        </div>
        <div class="card-body"  style="flex: 0; ">
            <div class="btn btn-primary" style="width: 95%;"  routerLink="/login" (click)="onSignup()" >Sign up</div>
        </div>
        <p>By signing up, you agree to our <b>Terms, Data</b><br><b>Policy and Cookies Policy.</b></p>
    </div>
</div>  

<div class="child">
    <div class="card card2"><span style="margin-left: 100px; padding-right: 10px;">Have an Account?</span>    
    <a href="" routerLink='/login'>Log in</a>
    </div> 
</div>
</form>
