

.mat-form-field {
    margin-top: 16px;
  }

  .header{
    position: relative;
    top: 8vh;
    left: 50vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
        
}

.parent-conatainer{

    width: 50%;
    height: 60%;
    position: relative;
    left: 50vh;
    
}

.fourthForm{
   color: gray;
}

mat-horizontal-stepper{
  background-color: #EFF0F3;
  padding: 10px;
}

.review{
  display: inline-block;
  margin-left: 30px;
  position: absolute;
  left: 19vh;
  font-size: 15px;
 
}







