<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Contact Component</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod unde voluptate ab voluptatibus praesentium excepturi sunt? Cupiditate maxime qui magni laboriosam error dolorem ullam. Quam, et? Eum autem pariatur consequatur hic dignissimos, vero neque voluptatem dolore, recusandae quo adipisci dolor nulla provident unde. Libero eligendi blanditiis hic accusamus temporibus nobis.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Contact Component</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta adipisci sed, magni deserunt laudantium, modi numquam, velit accusamus quis voluptates alias exercitationem quaerat harum provident dolores nihil nulla quas? Ad, quis atque. Perspiciatis ab dolorem alias officiis aliquam culpa blanditiis adipisci animi aliquid facere. Odit laudantium exercitationem error fugit est!
                        </p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Contact Component</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam neque culpa eaque incidunt et vitae velit quod provident praesentium voluptate aspernatur sint ratione placeat nemo, sunt, nihil beatae quos quae excepturi, facere esse quo sequi. Pariatur possimus neque accusamus illum voluptatem dicta, dolores, at nulla provident non excepturi molestiae alias.
                        </p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Contact Component</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, fugiat.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Contact Component</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, fugiat.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            
        </div>
    </div>
</div>