<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
      <div class="icon p-2"><i class="bi bi-heart-fill"  style="font-size: 35px;"></i></div>
      <div class="hName p-3"><a class="navbar-brand" href="#"><b>St. Mary Hospital</b></a></div>
      </div>
      
      <div class="collapse navbar-collapse">
        <div class="searchIcon p-2 "><i class="bi bi-search"></i></div>
        <div class="textInput p-3"><input type="text" placeholder="search"></div>
      </div>
      
      </div>
    </nav>
