// .icon{
//     border: 1px solid black;
//     padding: 10px;
// }

// .hName{
//         border: 1px solid blue;
//         padding: 10px;
// }

.searchIcon{
    border: 1px solid black;
    margin-right: 100px;
}

.textInput{
    border: 1px solid blue;
    margin-right: 200px;
}