<div class="detail">
    <div class="name" style="display: inline-block;">
        <span style="font-size: 20px;"><b>Full Name</b></span>
        <p class="name1">Kenneth Valdez</p>
    </div>
    <hr>
    <div class="name" style="display: inline-block;">
        <span style="font-size: 20px;"><b>Email</b></span>
        <p class="name2">fip@jukmuh.al</p>
    </div>
    <hr>

    <div class="name" style="display: inline-block;">
        <span style="font-size: 20px;"><b>Phone</b></span>
        <p class="name3">(239) 816-9027</p>
    </div>
    <hr>

    <div class="name" style="display: inline-block;">
        <span style="font-size: 20px;"><b>Mobile</b></span>
        <p class="name4">(320) 380-4539</p>
    </div>
    <hr>

    <div class="name" style="display: inline-block;">
        <span style="font-size: 20px;"><b>Address</b></span>
        <p class="name5">Bay Area, San Franciso, CA</p>
    </div>
</div>
