<div class="parent-div">
    <div class="child-div">
        <div class="form-div">
            <form [formGroup]="form">
                <div class="passowrd-div">
                    <label class="pd-label" for="password">Create your password</label>
                    <span class="hide"><img src="assets/eye.png" (click)="show=!show" style="max-width: 5%">Hide</span>
                    <input [type]="show ? 'text' : 'password'" #data1 [value]="form.get('password')?.value | password"
                        formControlName="password"><br>
                        {{data1.value}}
                    <div *ngIf="f['password'].touched && f['password'].invalid">
                        <div class="error-msg" *ngIf="f['password'].errors && f['password'].errors['required']">Please
                            inform your
                            password</div>
                        <div class="error-msg" *ngIf="f['password'].errors && f['password'].errors['pattern']">Please
                            inform your
                            valid password</div>
                    </div>
                </div>

                <div class="info-div">
                    <p>Password Must:</p>
                    <input type="radio" id="age1" name="age" value="30">
                    <label class="radio-label" for="age1">Be between 9 and 64 characters</label><br>
                    <input type="radio" id="age2" name="age" value="60">
                    <label class="radio-label" for="age2">Include at least two of the following:</label><br>

                    <div class="info-list">
                        <ul>
                            <li *ngFor="let data of infoData">{{data}}</li>
                        </ul>
                    </div>

                    <div class="password-div">
                        <label class="pd-label" for="password">Confirm your password</label>
                        <span class="show"><img src="assets/eye.png" (click)="showBtn=!showBtn"
                                style="width: 5%">Show</span>
                        <input [type]="showBtn ? 'password' : 'text'" #data2 formControlName="reTypePassword">
                        <div *ngIf="f['reTypePassword'].touched && f['reTypePassword'].invalid">
                            <div class="error-msg"
                                *ngIf="f['reTypePassword'].errors && f['reTypePassword'].errors['required']">Please
                                inform your
                                confirm password</div>
                            <div class="error-msg"
                                *ngIf="f['reTypePassword'].errors && f['reTypePassword'].errors['confirmedValidator']">
                                Please inform your
                                confirm password same as your password</div>
                        </div>
                    </div>

                    <div class="check-text">
                        <input type="checkbox" formControlName="check">
                        <span style="font-size: 22px; font-weight: 500;">I agree to <span
                                style="color: rgb(99,187,208);">Maxwell Health's Privacy Policy </span> and <br>
                            <span style="color: rgb(99,187,208);">Terms of Service</span></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="btn">
    <button [disabled]="form.invalid" (click)="logData()">Activate Account</button>
</div>