.parent-div{
  padding: 1%;
  display: flex;
  justify-content: center;
}
.child-div{
  padding: 1%;
  width: 35%;
  background-color: rgb(235, 246, 248);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px 10px ;
}
.form-div{
  padding: 3%;
}
input[type=text] {
  width: 90%;
  padding: 24px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgb(217, 218, 218);
  font-size: 20px;
}
input[type=password] {
  width: 90%;
  padding: 24px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgb(217, 218, 218);
  font-size: 20px;
}
input[type=text]:focus {
  border: 3px solid rgb(136, 204, 252);
  outline: none;
  font-size: 22px;
  transition: 0.5s ease;
}
input[type=password]:focus {
  border: 3px solid rgb(136, 204, 252);
  outline: none;
  font-size: 20px;
  transition: 0.5s ease;
}
.hide{
  margin-left: 77%;
  font-size: 23px;
}
span img{
  margin-right: 1%;
}
.pd-label{
  font-size: 26px;
  font-weight: 600;
}
.info-div p{
  font-size: 24px;
  font-weight: 550;
}
.radio-label{
  font-size: 24px;
  font-weight: 550;
}
.info-list li{
  font-size: 24px;
  font-weight: 550;
}
.show{
  margin-left: 75%;
  font-size: 23px;
}
.check-text{
  margin-top: 3%;
}
span{
  letter-spacing: 1px;
}
.btn{
  width: 50%;
  margin-left: 25%;
}
.btn button{
  color: white;
  padding: 20px 20px;
  width: 65%;
  background-color: rgb(176, 221, 231);
  border-radius: 5px;
  font-size: 20px;
  border: none;
}
.error-msg{
  color: red;
  font-weight: 600;
  font-size: 18px;
}

