<body>
    <div class="project2">
        <div style="font-size: 20px;">
           <span style="color: #18A2BA">assignment </span>  <b>Project Status</b>
        </div>
    
        <br>
        <div class="container">{{pass.design}}</div>
        <div class="container1">
            <div class="progress1" [style.width]="pass.width1"></div>
        </div>
        <br>
        
        <div class="container">{{pass.markup}}</div>
        <div class="container1">
        <div class="progress2" [style.width]="pass.width2"></div>
        </div>
        <br>
    
        <div class="container">{{pass.page}}</div>
        <div class="container1">
        <div class="progress3" [style.width]="pass.width3"></div>
        </div>
        <br>
    
        <div class="container">{{pass.template}}</div>
        <div class="container1">
        <div class="progress4" [style.width]="pass.width4"></div>
        </div>
        <br>
    
        <div class="container">{{pass.api}}</div>
        <div class="container1">
        <div class="progress5" [style.width]="pass.width5"></div>
        </div>
    </div>
    </body>
    
