<nav class="navbar">
    <div class="nav-wrapper">
        <div class="left-row">
            <span class="header-user">Home</span>/
            <span class="header-dashboard">Dashboard</span>
            <span>
                <div class="btn btn-primary" (click)="logout()" >Logout</div>
            </span>
        </div>
    </div>
</nav>            

<div class="flex grow-1 px-3">
    <div class="conatainer-lg">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem; height: 12rem;">
                    <div class="card-body" style="background-color: #321FDB;" >
                      <h1 class="card-title" style="color:white">26K(-12.4)</h1>
                      <span style="color: white; font-size:20px" >Users</span>
                      <!-- <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Right-aligned menu example
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li><button class="dropdown-item" type="button">Action</button></li>
                          <li><button class="dropdown-item" type="button">Another action</button></li>
                          <li><button class="dropdown-item" type="button">Something else here</button></li>
                        </ul>
                      </div> -->
                    </div>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem; height: 12rem;">
                    <div class="card-body" style="background-color: #3399FF;">
                        <h1 class="card-title" style="color:white">$6.200(40.9%)</h1>
                        <span style="color: white; font-size:20px" >Users</span>
                    </div>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem; height: 12rem;">
                    <div class="card-body" style="background-color: #F9B115;">
                      <h1 class="card-title" style="color:white">2.49%(84.7%)</h1>
                      <span style="color: white; font-size:20px" >Users</span>
                    </div>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem; height: 12rem;">
                    <div class="card-body" style="background-color: #E55353;">
                      <h1 class="card-title" style="color:white">44K(-23.6%)</h1>
                      <span style="color: white; font-size:20px" >Users</span>
                    </div>
                  </div>
            </div>

        </div>
    </div>
</div>