<body>
  <div class="container">
    <div class="child-container">
  <div class="job">
    <span class="search"><b>JobSearch</b></span>
    <span class="com" ><b>.com</b></span>
  </div>

  <div>
    <span class="account"><b>Create Your Account</b></span>
    <br>
    <span class="info"><b>*Required Information</b></span>
  </div>
  
</div>

<!-- <div>
  <input type="button" class="btn1" value="Reset" (click)="resetForm()">
  <input type="button" class="btn2" value="Apply">
</div> -->

</div>
  
</body>

<app-basic-information></app-basic-information>