<div class="container vh-100" class="container">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body px-5">
                <div class="text-center">
                </div>
                <div class="text-center">
                    <h2>Welcome</h2>
                </div>
                <p style="color: lightslategray; text-align: center;">
                    Please enter your login details</p>
                <form [formGroup]="loginForm">
                    <div>
                    <ng-container>
                        <mat-icon class="icon" (click)="changeFieldToDate()" *ngIf="show">calendar_today</mat-icon>
                        <mat-icon class="icon" (click)="changeFieldToEmail()" *ngIf="!show"> email</mat-icon>
                        <input *ngIf="!isChangeField"  type="email" id="email" placeholder="Email" class="form-control" formControlName="email" name="email" title="xyz@gmail.com">
                        <small class="error" *ngIf="email.errors?.['required'] && email.touched">Email is Required</small>
                        <small class="error" *ngIf="email.errors?.['pattern']">Invalid Email</small>
                        <input *ngIf="isChangeField"  type="date" id="email" placeholder="date" class="form-control" formControlName="date" name="email" title="xyz@gmail.com">
                    </ng-container>
                    </div><br>
                    <div class="form-group">
                        <input type="password" id="password" placeholder="Password" class="form-control" formControlName="password" name="password" title="contains uppercase, lowercase, number">
                        <small class="error" *ngIf="password.errors?.['required'] && password.touched">Password is Required</small>
                        <small class="error" *ngIf="password.errors?.['pattern']">Invalid Password</small>
                    </div><br>
                    <input type="submit" class="btn btn-primary w-100" value="Login" (click)="checkValue()">
                </form>
            </div>
        </div> 
</div>


