
<h1 class="header"><b>Create Your Account</b></h1>
<br><br><br><br><br><br>

<div class="parent-conatainer">
    <div class="child-conatainer">

<mat-horizontal-stepper #stepper>
    
    <mat-step  [stepControl]="personalInfoFormGroup">
        <ng-template matStepLabel completed="false">Personal Information</ng-template>
            <form [formGroup]="personalInfoFormGroup">
                <mat-form-field appearance="fill">
                <mat-label>Enter your first name</mat-label>
                <input matInput formControlName="personalnfoFormControlFirstName">
                <small class="error" *ngIf="personalnfoFormControlFirstName.errors?.['required'] && personalnfoFormControlFirstName.touched">Name is Required</small>
                <small class="error" *ngIf="personalnfoFormControlFirstName.errors?.['pattern']">Multi spaces is not be allowed</small>
                </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <mat-form-field appearance="fill">
                    <mat-label>Enter your last name</mat-label>
                    <input matInput formControlName="personalInfoFormControlLastName">
                    <small class="error" *ngIf="personalInfoFormControlLastName.errors?.['required'] && personalInfoFormControlLastName.touched">Last Name is Required</small>
                    <small class="error" *ngIf="personalInfoFormControlLastName.errors?.['pattern']">Multi spaces should not be allowed</small>
                </mat-form-field>
        <br>
                <mat-form-field appearance="fill">
                    <mat-label>Enter the Email Address</mat-label>
                    <input matInput formControlName="personalInfoFormControlEmail">
                    <small class="error" *ngIf="personalInfoFormControlEmail.errors?.['required'] && personalInfoFormControlEmail.touched">Email is Required</small>
                    <small class="error" *ngIf="personalInfoFormControlEmail.errors?.['pattern']">Invalid Email</small>
                </mat-form-field>
        <br>
                <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="personalInfoFormControlPassword" title="password contain uppercase, lowercase, number and special character">
                <small class="error" *ngIf="personalInfoFormControlPassword.errors?.['required'] && personalInfoFormControlPassword.touched">Password is Required</small>
                <small class="error" *ngIf="personalInfoFormControlPassword.errors?.['pattern']">Invalid Password</small>
                </mat-form-field>
        <br>
        <ng-container *ngIf="!personalInfoFormControlPassword.errors?.['pattern']">
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput formControlName="personalInfoFormControlRepassword" title="password contain uppercase, lowercase, number and special character">
          <small class="error" *ngIf="personalInfoFormControlRepassword.errors?.['required'] && personalInfoFormControlRepassword.touched">Invalid Password</small>
          <small class="error" *ngIf="personalInfoFormControlRepassword.value != personalInfoFormControlPassword.value">Password Invalid, write the same password</small>
        </mat-form-field>
    </ng-container>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="personalInfoFormControlPhoneNumber">
            <small class="error" *ngIf="personalInfoFormControlPhoneNumber.errors?.['required'] && personalInfoFormControlPhoneNumber.touched">Phone Number is Required</small>
            <small class="error" *ngIf="personalInfoFormControlPhoneNumber.errors?.['pattern']">Phone Number must be 10 digits</small>
            </mat-form-field>
        <br>
                <mat-form-field appearance="fill">
                    <mat-label>Choose your birth date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="personalInfoFormControlBirthDate"  (dateInput)="dateName($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker" startView="Year"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <div>
                    <button mat-raised-button color="primary" matStepperNext class="personalInfoNext">Next</button>
                </div>
            </form>
        <div class="login">
        <small><b>Already have Account?</b>&nbsp;<a routerLink="">Go To Login Page</a></small> 
        </div>   
    </mat-step>

    <mat-step [stepControl]="addressFormGroup">
        <ng-template matStepLabel >Address</ng-template>

            <form [formGroup]="addressFormGroup">
                <mat-form-field hintLabel="Max 20 characters" appearance="fill">
                <mat-label>Street Address</mat-label>
                <input maxlength="20" matInput formControlName="address1FormControl">
                <small class="error" *ngIf="address1FormControl.errors?.['required'] && address1FormControl.touched">Address is Required</small>
                <small class="error" *ngIf="address1FormControl.errors?.['pattern']">Address is Required</small>
                </mat-form-field>
                <br><br>
                <mat-form-field hintLabel="Max 20 characters" appearance="fill">
                    <mat-label>Street Address Line 2</mat-label>
                    <input maxlength="20" matInput formControlName="address2FormControl">
                    <small class="error" *ngIf="address2FormControl.errors?.['required'] && address2FormControl.touched">Street address is Required</small>
                <small class="error" *ngIf="address2FormControl.errors?.['pattern']">Street address is Required</small>
                    </mat-form-field>
                <br><br>
                    <mat-form-field appearance="fill">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="addressFormControlCountryName" (selectionChange)="changeState($event)" [(ngModel)]="selectedCountry">
                            <!-- <mat-option value="India">India</mat-option> -->
                            <!-- <mat-option value="SriLanka">SriLanka</mat-option> -->
                            <!-- <mat-option value="Australia">Australia</mat-option> -->
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let country of countries" [value]="country.id"> 
                                {{country.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;&nbsp;&nbsp;    
                
         

                <mat-form-field appearance="fill">
                    <mat-label>State/Province</mat-label>
                    <mat-select formControlName="addressFormControlStateName"  (selectionChange)="changeCity($event)">
                        <!-- <mat-option value="Uttrakhand">Uttrakhand</mat-option> -->
                        <!-- <mat-option value="Bihar">Bihar</mat-option> -->
                        <!-- <mat-option value="Uttar Pradesh">Uttar Pradesh</mat-option> -->
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let state of dropdownState;let i=index" [value]="state">
                            {{state}}
                        </mat-option>
                    </mat-select>
                
                   
                </mat-form-field>&nbsp;&nbsp;&nbsp;<br><br>
                <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="addressFormControlCityName">
                        <!-- <mat-option value="patna">Patna</mat-option> -->
                        <!-- <mat-option value="noida">Noida</mat-option> -->
                        <!-- <mat-option value="Dehradun">Dehradun</mat-option> -->
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let city of dropdownCity" [value]=city>
                            {{city}}
                        </mat-option>
                    </mat-select>
                    
                </mat-form-field>&nbsp;&nbsp;&nbsp;

                <mat-form-field hintLabel="Max 6 number" appearance="fill">
                    <mat-label>Postal/Zipcode</mat-label>
                    <input maxlength="6" matInput formControlName="addressFormControlZipcode">
                    <small class="error" *ngIf="addressFormControlZipcode.errors?.['required'] && addressFormControlZipcode.touched">Zipcode is Required</small>
                    <small class="error" *ngIf="addressFormControlZipcode.errors?.['pattern']">Invalid ZipCode</small>
                </mat-form-field>&nbsp;&nbsp;&nbsp;
                
                <div class="buttonRowAddress">
                    <button mat-raised-button color="warn" matStepperPrevious class="backButton" class="backButtonAddress">Back</button>
                    &nbsp;&nbsp;&nbsp;
                    <button mat-raised-button color="primary" matStepperNext class="nextButton" class="nextButtonAddress">Next</button>
                </div>
               
            </form>

           
    </mat-step>

    <mat-step [stepControl]="profileFormGroup">
        <ng-template matStepLabel>Profile</ng-template>
        
            <form [formGroup]="profileFormGroup">
                <mat-form-field appearance="fill">
                <mat-label>Choose File</mat-label>
                <ngx-mat-file-input type="file"  name="uploadFile" formControlName="profileFormControl" (change)="showImage($event)" #fileUpload accept="image/*" ></ngx-mat-file-input>&nbsp;&nbsp;&nbsp;
                </mat-form-field>

                <div class="buttonRowImage">
                <button mat-raised-button color="warn" matStepperPrevious class="backButtonImage">Back</button>&nbsp;&nbsp;&nbsp;
                <button mat-raised-button color="primary" matStepperNext class="nextButtonImage" (click)="checkImage()">Next</button>
                </div>
            </form>
    </mat-step>

    <mat-step [stepControl]="reviewFormGroup" class="forth">
        <ng-template matStepLabel>Review</ng-template>
            <form [formGroup]="reviewFormGroup">
                <div class="review">
                <br>
                <mat-label class="fourthForm"><b style="font-size: 17px;">First Name:</b> <b style="color: lightslategrey;" class="reviewName">{{personalInfoFormGroup.value.personalnfoFormControlFirstName}}</b></mat-label>
                <br>
                <mat-label class="fourthForm"><b style="font-size: 17px;">Last Name:</b><b style="color: lightslategrey;" class="reviewName">{{personalInfoFormGroup.value.personalInfoFormControlLastName}}</b></mat-label>
                <br>
                <mat-label class="fourthForm"><b style="font-size: 17px;">Email:</b> <b style="color: lightslategrey;" class="reviewName">{{personalInfoFormGroup.value.personalInfoFormControlEmail}}</b></mat-label>
                <br>
                <mat-label class="fourthForm"><b style="font-size: 17px;">Password:</b> <b style="color: lightslategrey;" class="reviewName">{{personalInfoFormGroup.value.personalInfoFormControlPassword}}</b></mat-label>
                <br>
                <mat-label class="fourthForm"><b style="font-size: 17px;">Confirm Password:</b> <b style="color: lightslategrey;" class="reviewName">{{personalInfoFormGroup.value.personalInfoFormControlRepassword}}</b></mat-label>
                <br>
                <mat-label class="fourthForm"><b style="font-size: 17px;">Phone Number:</b> <b style="color: lightslategrey;" class="reviewName">{{personalInfoFormGroup.value.personalInfoFormControlPhoneNumber}}</b></mat-label>
                <br>
                <mat-label class="fourthForm"><b style="font-size: 17px;">Date of Birth:</b> <b style="color: lightslategrey;" class="reviewName">{{personalInfoFormGroup.value.personalInfoFormControlBirthDate}}</b></mat-label>
                <br>
                <mat-label class="fourthForm"><b style="font-size: 17px;">Street Address:</b> <b style="color: lightslategrey;" class="reviewName">{{addressFormGroup.value.address1FormControl}}</b></mat-label>
                <br>
                <mat-label class="fourthForm"><b style="font-size: 17px;">Street Address Line 2:</b> <b style="color: lightslategrey;" class="reviewName">{{addressFormGroup.value.address2FormControl}}</b></mat-label>
                <br>
                <mat-label class="fourthForm"><b style="font-size: 17px;">Country:</b> <b style="color: lightslategrey;" class="reviewName">{{addressFormGroup.value.addressFormControlCountryName}}</b></mat-label>
                <br>
                <mat-label class="fourthForm"><b style="font-size: 17px;">State/Province:</b><b style="color: lightslategrey;" class="reviewName">{{addressFormGroup.value.addressFormControlStateName}}</b></mat-label>
                <br>
                <mat-label class="fourthForm"><b style="font-size: 17px;">City:</b> <b style="color: lightslategrey;" class="reviewName">{{addressFormGroup.value.addressFormControlCityName}}</b></mat-label>
                <br>
                <mat-label class="fourthForm"><b style="font-size: 17px;">Postal/Zipcode:</b> <b style="color: lightslategrey;" class="reviewName">{{addressFormGroup.value.addressFormControlZipcode}}</b></mat-label>
                <br>
                </div>
                <div class="imageView">
                <div ><img src="{{dataimage}}" width="185vh" height="185vh"></div>
                </div>
                <br><br>
               
                <div class="buttonRowReview">
                    <button mat-raised-button color="accent" matStepperPrevious>Back</button>&nbsp;
                    <button mat-raised-button color="primary">Sign Up</button>
                </div>
                
            </form>
      </mat-step> 
    
    
  </mat-horizontal-stepper>
</div>
</div>

