<!-- <div class="container-fluid">
    <div class="row">
      <div class="col">
        <img class="instaImg" src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png" width="30%" alt="">
      </div>
      <div class="col" style="padding-top: 13px;" >
        <i class="fa-solid fa-magnifying-glass"></i>&nbsp;
        <input type="text">
      </div>
      <div class="col" style="padding-top: 10px;">
        <i class="fa-solid fa-house fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa-solid fa-comment fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa-solid fa-bell fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa-solid fa-heart fa-2x"></i>
      </div>
    </div>
</div> -->

<nav class="navbar">
  <div class="nav-wrapper">
    <img src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png" class="brand-img" alt="">
    <input type="text" class="search-box" placeholder="search">
    <div class="nav-item">
      <i class="fa-solid fa-house fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <i class="fa-solid fa-comment fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <i class="fa-solid fa-bell fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <i class="fa-solid fa-heart fa-2x"></i>
    </div>
  </div>
</nav>

<section>
  <div class="main">
      <div class="wrapper">
        <div class="left-col">
            <div class="status-wrapper">
                <div class="status-card">
                  <div class="profile">
                    <img src="assets/image1.png" width="50px"  alt="">
                    <p>userName1</p>
                  </div>
                </div>
            </div>
        </div>

        <div class="right-col">

        </div>
          
      </div>
  </div>
</section>

