<div class="parent">
    <div class="card">
        <img class="instaImg" src="assets/lockRemove.png" width="30%" alt="">
        <div class="card-body" style="flex: 0;">
          <p class="card-text" style="color: gray;"><p>Trouble Logging In?</p>
          <p>Enter your email, phone, or username and we'll send you a link to get back into your account.</p>
        </div>
        
        <div class="input-group mb-3 pe-4 ps-4">
            <input type="text" class="form-control" placeholder="Email, Phone, or Username " aria-label="Username" aria-describedby="basic-addon1">
        </div>
        
        <div class="card-body"  style="flex: 0;">
            <div class="btn btn-primary" style="width: 95%;">Send Login Link</div>
        </div>

        <div>
            <h5 class="horizontal">OR</h5>
        </div>

        <a href="" style="color: black;" routerLink="/signup"><b>Create New Account</b></a>
    </div>
</div>  

<div class="child">
    <div class="card card2">
    <a href="" routerLink='/login' style="color: black;"><b>Back to Login</b></a>
    </div> 
</div>



