table, th,td{
    border: 1px solid black;
    padding: 10px;
    background-color: skyblue;
    
}

// .panel-body{
//     position: relative;
//     left: 30vh;
// }

// .header{
//     position: relative;
//     left: 35vh;
// }