.card{
    width: 25rem; 
    height: 30rem;
    text-align: center;
    padding-top: 30px;
    // border: 1px solid hotpink;
}

.leftImg{
    background-image: url(https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png);
    background-position: 40px 0;
}

.img1{
    margin-left: 197px;
    margin-top: 27px;
}

.instaImg{
    margin-left: 90px;
    // border: 1px solid;
    padding-bottom: 4rem;
}

.parent{
//   border: 1px solid red;
  height: 590px;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-right: 85px;
}

h5 {
    display: flex;
    flex-direction: row;
  }

h5:before, h5:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

h5:before {
    margin-right: 10px
}

h5:after {
   margin-left: 10px
}

.horizontal{
    color: gray;
}

  .child{
      display: flex;
      justify-content: center;
      margin-top: 50px;
  }

  .card2{
    display: flex;
    flex-direction: row;
    width: 25rem;
    height: 6rem; 
    text-align: center; 
    padding-top: 30px;
  }

  @media only screen and (max-width: 1650px){
    .leftImg{
    display: none;
    }
  }